<%= form_for(@tweet, :url => "read_url", :class => "form-search") do |f| %>
  <% if @tweet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tweet.errors.count, "error") %> prohibited this tweet from being saved:</h2>

      <ul>
      <% @tweet.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <%= f.text_field :url, :class => "input-large search-query", :placeholder => "URL" %>
    <%= f.submit "Ultimo Tweet", :class => "btn btn-primary" %>
<% end %>

